.card
    perspective: 150rem
    -moz-perspective: 150rem
    position: relative
    height: $card-height

    &__side
        height: $card-height
        transition: all 1.4s
        position: absolute
        top: 0
        left: 0
        width: 100%
        -webkit-backface-visibility: hidden
        backface-visibility: hidden

        &--back
            transform: rotateY(180deg)

    &-parent:hover .card .card__side
            &--front
                transform: rotateY(-180deg)

            &--back
                transform: rotateY(0)

    @include respond(landscapeTablet)  
        perspective: 0
        -moz-perspective: 0
        position: relative
        height: auto

        &__side
            height: auto
            transition: all 1.4s
            position: relative
            
            &--back
                transform: rotateY(0)
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%)
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%)

        &-parent:hover .card .card__side
                &--front
                    transform: rotateY(0)