// COLORS:
$color-main-light: #7ed56f // Light Green
$color-main: #55c57a // Medium Green
$color-main-dark: #28b485 // Dark green

$color-gray-light-1: #f7f7f7 // Gray light
$color-gray-dark: #777 // Gray
$color-white: #fff // White
$color-black: #000 // Black

// Grid:
$grid-width: 114rem
$grid-horizontal-gutter: 8rem
$grid-vertical-gutter: 6rem

// Typography:
$font-size: 1.6rem
$rem-definition: 62.5%